@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 185 52% 96%;
    --foreground: 189 51% 8%;
    --card: 185 52% 96%;
    --card-foreground: 189 51% 8%;
    --popover: 185 52% 96%;
    --popover-foreground: 189 51% 8%;
    --primary: 190 54% 27%;
    --primary-foreground: 185 52% 96%;
    --secondary: 218 53% 67%;
    --secondary-foreground: 189 51% 8%;
    --muted: 186 53% 20%;
    --muted-foreground: 218, 53%, 45%;
    --accent: 229 53% 47%;
    --accent-foreground: 185 52% 96%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 189 51% 8%;
    --border: 186 53% 20%;
    --input: 186 53% 20%;
    --ring: 229 53% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 185 52% 4%;
    --foreground: 189 51% 92%;
    --card: 185 52% 4%;
    --card-foreground: 189 51% 92%;
    --popover: 185 52% 4%;
    --popover-foreground: 189 51% 92%;
    --primary: 190 54% 73%;
    --primary-foreground: 185 52% 4%;
    --secondary: 218 53% 33%;
    --secondary-foreground: 189 51% 92%;
    --muted: 186 53% 80%;
    --muted-foreground: 189 51% 92%;
    --accent: 229 53% 53%;
    --accent-foreground: 189 51% 92%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 189 53% 10%;
    --border: 185 52% 60%;
    --input: 186 53% 80%;
    --ring: 229 53% 60%;
  }
}